<html>
  <head>
    <title>gawk rubber duck</title>
    <style>
      body {
        margin: 0 auto;
        max-width: 800px;
        padding: 16px;
      }
      h1, h2, .query-container, p, .help {
        padding: 8px
      }
      h1 {
        text-align: center;
      }
      .help {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <div class="help"><a href="/">Home</a></div>
    <h1>🐥gawk rubber duck🐥</h1>
    <div>
      <h2>What is this site?</h2>
      <div>
        <p>
          This site is a service that provides a buddy for gawk programmers, the rubber duck. The rubber duck will answer questions about gawk that you enter in the input field.
        </p>
        <p>
        This site uses OpenAI API and Llama-Index to generate answers, and the <a href="https://www.gnu.org/software/gawk/manual/" target="_blank">gawk user manual</a> is used as the input document for Llama-Index. Therefore, the content of the sections of the manual that appear with the responses is governed by the original license.
        </p>
      </div>
      <h2>Disclaimer</h2>
      <div>
        <p>
          No warranty of any kind is made as a result of using this site. Use of this site is at your own risk.
        </p>
      </div>
      <h2>Source</h2>
      <div>
        <p>
          The source code for this application is available on <a href="https://github.com/yammerjp/gawk-rubber-duck" target="_blank">GitHub (yammerjp/gawk-rubber-duck)</a>.
        </p>
      </div>
    </div>
  </body>
</html>
